/* Tablet Responsive */ 
@media screen and (max-width: 650px) {
    .menu{
        display: none;
    }
    .bars{
        display: block;
    }
    .bars:hover{
        cursor: pointer;
    }

    .menu-2 li{
        margin: 5px 0 ;
        transition: linear 0.5s;
        border-radius: 5px;
        font-size: 18px;
    }
    .menu-2 li:hover {
        cursor: pointer;
        padding-left: 15px;
        background-color: lightblue;
    }
    #title {
        padding-top: 70px;
        background-image: linear-gradient(to right, violet, cyan);
        padding: 70px 60px 20px 60px;
    }
    .title-text{
        text-align: center;
        margin: 0;
    }

    .title-box img{
        width: 100%;
    }

    .title-box{
        display: block;
    }

    [class *="button-"]{
        display: none;
    }

    .title-box button{
        margin: 10px 0;
    }

    .title-content{
        margin-top: 0;
    }
    .list{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #clothes{
        grid-template-columns: auto;
    }

    .clothes-pic img{
        width: 70%;
    }
}
