*, *::before, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(to right, violet, cyan);
    transition: linear 0.5s;
    position: fixed;
    width: 100%;
    padding: 0;
    height: auto;
    transition: linear 0.5s;
    z-index: 5;
}
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
    padding: 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px ridge #04182A;
}
[class^="header-"]{
    padding: 10px 5px 0 5px;
}

[class^="btn-"]{
    display: flex;
    padding: 5px;
}

[class^="btn-"]:hover{
    cursor: pointer;
}

[class^="button-"]{
    padding: 0 5px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-middle{
    text-align: center;
}

li{
    padding: 5px;
    list-style-type: none;
}
.bars{
    display: none;
    padding: 5px;
}

.menu{
    display: flex;
}

.menu li{
    transition: linear 2s;
}

.menu-2{
    display: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    width: 100%;
}

.menu li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.active{
    display: block;
}

#title{
    padding-top: 70px;
    /* background-image: linear-gradient(to right, violet, cyan); */
    padding: 80px 60px 50px 60px;
}

.title-text{
    font-size: 50px;
    margin-left: 10rem;
    margin-bottom: 2rem;
    text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
}

.title-text span{
    color: gold;
    font-size: 70px;
}

 .title-box img{
    width: 55%;
    filter: saturate(1.5);
    z-index: -1;
}

.title-box{
    display: flex;
    font-size: 20px;
    justify-content:center;
}

.title-box button{
    background-color: gold;
    border: 1px solid black;
    padding-right: 5px;
    padding: 5px;
    margin: 30px 0;
    font-size: 15px;
}

.title-box button:hover{
    background-image: linear-gradient(to right, violet, cyan);
    cursor: pointer;
    padding-right: 20px;
    animation: moveButton linear 1s infinite;
}

@keyframes moveButton{
    0%{
        padding-right: 5px;
    }
    50%{
        padding-right: 20px;
    }
    100%{
        padding-right: 5px;
    }
}
.title-content{
    margin-top: 2rem;
}

/* Clothes */
#clothes, #deco, #other{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.clothes-title{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.clothes-pic{
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid black;
    margin: 20px;
}
.clothes-pic img{
    width: auto;
    height: 300px;
    object-fit: fill;
}
.clothes-pic .special{
    color: #FF47C1;
    transform: rotate(-90deg);
    font-size : 25px;
    text-transform: uppercase;
    position: relative;
    left: 3rem;
    z-index: 3;
}

.clothes-pic .price{
    color: #FF47C1;
    font-size: 15px;
    align-self:flex-end;
    position: relative;
    right: 1.7rem;
}

.clothes-description{
    color: gray;
}
.clothes-text{
    text-align: center;
    margin: 10px;
}

.clothes-name{
    font-size: 20px;
    font-weight: bold;
}